<div class="menu-bar-global">

    <div class="menu-bar-row">
        <div class="menu-bar-logo">
            <img src="assets/logoPlayr.png" alt="" srcset="" width="140px" height="40px">
        </div>
        <div class="menu-search">
            <app-search></app-search>
        </div>
    </div>

    <div class="menu-bar-container">

        <div class="menu-bar-item">
            <ul>
                <li><a href="https://github.com/N0vais" target="_blank">Github</a></li>              
                <li><a href="https://br.linkedin.com/in/daniel-novais-dos-santos-siqueira-296a81236" target="_blank">Linkedin</a></li>
                <li><a href="https://www.youtube.com/@solsiqueirai7317" target="_blank">Youtube</a></li>
                <li><a href="#" >Frutas</a></li>              
                <li><a href="#" >Legumes</a></li>
                <li><a href="#" >Hortaliças</a></li>
                
            </ul>
        </div>

    </div>
</div>